{% extends "base.html" %}

{% block title %}Terms of Service{% endblock %}

{% block content %}

<h2>Terms of Service</h2>

<div class="span-12">
    <p>You may only upload content to freeHg.org that is licensed for redistribution under a <a href="http://www.opensource.org/licenses"> approved by the Open Source Initiative</a> or <a href="http://creativecommons.org/">Creative Commons.</a></p>
    <p>Content in the repositories hosted by freeHg.org is the responsibility of their respective owners.</p>
    <p>freeHg.org is not responsible for any damages that arise from using the service.</p>

    <pre>
THE SERVICE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR WEBMASTERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SERVICE.
</pre>
</div>

{% endblock %}
